@import "tailwindcss";
/* fuente */
:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #4B0F1F;
  --color-secondary: #C62854;
  --color-light: #faf3ef;
  --color-gray: #E6E1E1;
  --color-text-dark: #2B282B;
  --color-text-light: #FFFFFF;
   --color-bg-dark: #F2ECEA;        
  --color-card-dark: #E5D5C5;        
  --color-card-border-dark: #5B3A3E; 
  --color-card-hover-dark: #3A2328; 


  --color-bg: var(--color-light);
  --radius-base: 0.5rem;
  --transition-base: all 0.2s ease-in-out;
}

/* reset basico */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: #ffffff;
  color: var(--color-text-dark);
  overflow-x: hidden;
  width: 100%;
}
